# Moments Duration

### Query: 
```sql
SELECT
    user_id,
    UPPER(REPLACE(toString(device_id), '-', '')) AS embrace_id,
    session_id,
    moment_id,
    moment_name,
    date,
    time AS start_time,
    raw_offset,
    duration
FROM moment
WHERE app_id = 'FxdUD'
AND date >= date_add(DAY, -3, now())
ORDER BY
    user_id ASC,
    time DESC
INTO OUTFILE 'FxdUD/FxdUD_moments_last_3_days.csv'
FORMAT CSVWithNames
;
```

In [113]:
import pandas
import csv

In [115]:
moments = pandas.read_csv('~/Documents/data-analysis/data-sources/FxdUD_moments_last_3_days.csv')
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration
0,NaN,58BA94EAAD149646BD7F9AB8CF3C1235,21539812-f396-4cfd-abd8-a45afcccf7dd,6d631577-3a71-4b41-a610-ddeb2eda9c55,_startup,2022-01-13,2022-01-13 19:56:21,159,5001
1,NaN,DC631902DE429F02F20D29A8D47FE8CE,055797b6-38fb-4d7d-913d-1e6447f11141,7698257f-cad3-41c1-a570-4f348d4b858c,_startup,2022-01-13,2022-01-13 19:37:45,971,5001
2,NaN,2386AE7219A46C37CB1986ED51A3732A,37d4067b-89b4-4a9e-b493-81ec3f493a28,f0de510b-7777-42dc-a7f8-4490948a2bab,_startup,2022-01-13,2022-01-13 19:30:29,865,5000
3,NaN,A1413A2E823ADD7D8F062594941041F9,05b4ef81-9fa7-47e5-9353-ebbb2f344f50,544de297-c7e5-43b9-8279-996ff00f22c1,_startup,2022-01-13,2022-01-13 18:39:17,952,5001
4,NaN,C9DC9A4523639AA7A980F2B799018570,e721d0e9-d80c-487c-8bdb-8179a199261b,15d9ebfd-e46d-4ef1-93e2-852a2909e79c,_startup,2022-01-13,2022-01-13 17:32:31,995,5001
...,...,...,...,...,...,...,...,...,...
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,bf699267-6ef0-4b18-bec3-11d9025dc2af,d42917fb-3d2e-4ee5-861e-e4bf3009a6a1,_startup,2022-01-12,2022-01-12 05:14:18,843,18069
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,b0458e18-ed5f-4a8b-86bf-2d40d8a6bf33,6f58eb76-0081-4c93-8f64-ab04e85b2b79,_startup,2022-01-11,2022-01-11 21:22:06,74,30938
6332,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,4329df30-49bb-4ae3-9a2a-1657afb6871c,6b85da82-63eb-4833-bc49-2e78ede12454,_startup,2022-01-11,2022-01-11 21:08:20,937,33630
6333,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,dc6edb9d-33e8-468b-a04b-223a622f3ba2,3bc61c94-8092-4035-86a9-a9a33c276c65,_startup,2022-01-11,2022-01-11 18:27:44,181,17146
6334,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03,87,5001

### Udpate Objects data types to pandas datatypes

> Time is the moment start time, raw_offset is the millis (CH canâ€™t store milli granularity for ts) and the duration gives you when it ends And the duration is in millis

In [116]:
moments['start_time'] = pandas.to_datetime(moments['start_time'])
moments.dtypes

user_id                object
embrace_id             object
session_id             object
moment_id              object
moment_name            object
date                   object
start_time     datetime64[ns]
raw_offset              int64
duration                int64
dtype: object

In [117]:
moments['start_time'] = moments['start_time'] + pandas.to_timedelta(moments['raw_offset'], unit='ms')
moments['end_time'] = moments['start_time'] + pandas.to_timedelta(moments['duration'], unit='ms')
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration,end_time
0,NaN,58BA94EAAD149646BD7F9AB8CF3C1235,21539812-f396-4cfd-abd8-a45afcccf7dd,6d631577-3a71-4b41-a610-ddeb2eda9c55,_startup,2022-01-13,2022-01-13 19:56:21.159,159,5001,2022-01-13 19:56:26.160
1,NaN,DC631902DE429F02F20D29A8D47FE8CE,055797b6-38fb-4d7d-913d-1e6447f11141,7698257f-cad3-41c1-a570-4f348d4b858c,_startup,2022-01-13,2022-01-13 19:37:45.971,971,5001,2022-01-13 19:37:50.972
2,NaN,2386AE7219A46C37CB1986ED51A3732A,37d4067b-89b4-4a9e-b493-81ec3f493a28,f0de510b-7777-42dc-a7f8-4490948a2bab,_startup,2022-01-13,2022-01-13 19:30:29.865,865,5000,2022-01-13 19:30:34.865
3,NaN,A1413A2E823ADD7D8F062594941041F9,05b4ef81-9fa7-47e5-9353-ebbb2f344f50,544de297-c7e5-43b9-8279-996ff00f22c1,_startup,2022-01-13,2022-01-13 18:39:17.952,952,5001,2022-01-13 18:39:22.953
4,NaN,C9DC9A4523639AA7A980F2B799018570,e721d0e9-d80c-487c-8bdb-8179a199261b,15d9ebfd-e46d-4ef1-93e2-852a2909e79c,_startup,2022-01-13,2022-01-13 17:32:31.995,995,5001,2022-01-13 17:32:36.996
...,...,...,...,...,...,...,...,...,...,...
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,bf699267-6ef0-4b18-bec3-11d9025dc2af,d42917fb-3d2e-4ee5-861e-e4bf3009a6a1,_startup,2022-01-12,2022-01-12 05:14:18.843,843,18069,2022-01-12 05:14:36.912
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,b0458e18-ed5f-4a8b-86bf-2d40d8a6bf33,6f58eb76-0081-4c93-8f64-ab04e85b2b79,_startup,2022-01-11,2022-01-11 21:22:06.074,74,30938,2022-01-11 21:22:37.012
6332,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,4329df30-49bb-4ae3-9a2a-1657afb6871c,6b85da82-63eb-4833-bc49-2e78ede12454,_startup,2022-01-11,2022-01-11 21:08:20.937,937,33630,2022-01-11 21:08:54.567
6333,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,dc6edb9d-33e8-468b-a04b-223a622f3ba2,3bc61c94-8092-4035-86a9-a9a33c276c65,_startup,2022-01-11,2022-01-11 18:27:44.181,181,17146,2022-01-11 18:28:01.327
6334,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03.087,87,5001,2022-01-11 00:39:08.088

In [118]:
moments.to_csv('~/Downloads/FxdUD_moments_last_3_days.csv', index=False, quoting=csv.QUOTE_MINIMAL,
               columns=['user_id', 'embrace_id', 'session_id', 'moment_name', 'start_time', 'end_time', 'duration'],
               header=['user_id', 'embrace_id', 'session_id', 'moment_name', 'start_time', 'end_time', 'duration_ms']
)