# Moments Duration

### Query: 
```sql
SELECT
    user_id,
    UPPER(REPLACE(toString(device_id), '-', '')) AS embrace_id,
    session_id,
    moment_id,
    moment_name,
    date,
    time AS start_time,
    raw_offset,
    duration
FROM moment
WHERE app_id = 'FxdUD'
AND date >= date_add(DAY, -3, now())
ORDER BY
    user_id ASC,
    time DESC
INTO OUTFILE 'FxdUD/FxdUD_moments_last_3_days.csv'
FORMAT CSVWithNames
;
```

In [2]:
import pandas

In [3]:
moments = pandas.read_csv('~/Documents/data-analysis/data-sources/FxdUD_moments_last_3_days.csv')
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration
0,NaN,D2C915F61FEC1F1FF0EBB5DF4FDD4B68,99fc1b63-383a-437f-8817-010e7231622d,935b2a7d-3106-431b-b60e-443d3f4b1336,_startup,2022-01-12,2022-01-12 19:06:29,286,5001
1,NaN,B3486E3835C2C0B327A26A9D3DAC4D81,58359085-1b23-4a85-9612-52c6df95c675,da376eed-a773-4f07-9f25-234c82828e26,_startup,2022-01-12,2022-01-12 18:15:10,983,5001
2,NaN,03694986796C42A96C6554E2FABF2A1A,653147c9-b15f-41a0-b8c8-534a5b95dca4,a1968652-675e-4d8f-bb2e-d81b2d149cea,_startup,2022-01-12,2022-01-12 18:10:42,776,5001
3,NaN,3DD3244FAC9A0C5237BBD43B391DD498,b93292d2-804d-45f3-bddf-7e7f95a7f735,814e7233-fe59-4c5a-810a-2e8fb589c8fa,_startup,2022-01-12,2022-01-12 18:05:59,383,5000
4,NaN,5A3839A3E53115002BC07B851C707BEB,30cad6a2-2bfe-46c8-a624-00107e79955c,b50a79f6-01e8-40f4-b24a-195dfd8da384,_startup,2022-01-12,2022-01-12 17:19:43,708,5000
...,...,...,...,...,...,...,...,...,...
6328,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,32e4849c-a096-4df2-8687-51c184f6a6eb,d4fe2735-d4c4-4974-ad63-01ebefc54ad7,_startup,2022-01-10,2022-01-10 06:38:32,453,20184
6329,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,34a87343-4811-4a51-b253-76a606386207,8a1bf198-5422-4857-ae59-e5487bb12796,_startup,2022-01-10,2022-01-10 06:35:03,397,19286
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,36f3a85b-79c7-4a6c-8619-04feae63ac7e,5e1d1f1f-98c4-483b-9819-fd9220f14191,_startup,2022-01-10,2022-01-10 04:59:11,621,19725
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,a8ef1a56-9844-46fa-8730-d57d5a0db797,44c979de-7a99-4841-ad9f-3eb79d067809,_startup,2022-01-10,2022-01-10 02:19:00,645,27628
6332,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03,87,5001

### Udpate Objects data types to pandas datatypes

> Time is the moment start time, raw_offset is the millis (CH canâ€™t store milli granularity for ts) and the duration gives you when it ends And the duration is in millis

In [16]:
moments['start_time'] = pandas.to_datetime(moments['start_time'])
moments[['raw_offset', 'duration']] = moments[['raw_offset', 'duration']].apply(pandas.to_timedelta)
moments.dtypes

user_id                 object
embrace_id              object
session_id              object
moment_id               object
moment_name             object
date                    object
start_time      datetime64[ns]
raw_offset     timedelta64[ns]
duration       timedelta64[ns]
start_time2     datetime64[ns]
end_time        datetime64[ns]
end_time2       datetime64[ns]
dtype: object

In [14]:
moments['start_time2'] = moments['start_time'] + moments['raw_offset']
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration,start_time2,end_time,end_time2
0,NaN,D2C915F61FEC1F1FF0EBB5DF4FDD4B68,99fc1b63-383a-437f-8817-010e7231622d,935b2a7d-3106-431b-b60e-443d3f4b1336,_startup,2022-01-12,2022-01-12 19:06:29,0 days 00:00:00.000000286,0 days 00:00:00.000005001,2022-01-12 19:06:29.000000286,2022-01-12 19:06:29.000005287,2022-01-12 19:06:29.000005287
1,NaN,B3486E3835C2C0B327A26A9D3DAC4D81,58359085-1b23-4a85-9612-52c6df95c675,da376eed-a773-4f07-9f25-234c82828e26,_startup,2022-01-12,2022-01-12 18:15:10,0 days 00:00:00.000000983,0 days 00:00:00.000005001,2022-01-12 18:15:10.000000983,2022-01-12 18:15:10.000005984,2022-01-12 18:15:10.000005984
2,NaN,03694986796C42A96C6554E2FABF2A1A,653147c9-b15f-41a0-b8c8-534a5b95dca4,a1968652-675e-4d8f-bb2e-d81b2d149cea,_startup,2022-01-12,2022-01-12 18:10:42,0 days 00:00:00.000000776,0 days 00:00:00.000005001,2022-01-12 18:10:42.000000776,2022-01-12 18:10:42.000005777,2022-01-12 18:10:42.000005777
3,NaN,3DD3244FAC9A0C5237BBD43B391DD498,b93292d2-804d-45f3-bddf-7e7f95a7f735,814e7233-fe59-4c5a-810a-2e8fb589c8fa,_startup,2022-01-12,2022-01-12 18:05:59,0 days 00:00:00.000000383,0 days 00:00:00.000005,2022-01-12 18:05:59.000000383,2022-01-12 18:05:59.000005383,2022-01-12 18:05:59.000005383
4,NaN,5A3839A3E53115002BC07B851C707BEB,30cad6a2-2bfe-46c8-a624-00107e79955c,b50a79f6-01e8-40f4-b24a-195dfd8da384,_startup,2022-01-12,2022-01-12 17:19:43,0 days 00:00:00.000000708,0 days 00:00:00.000005,2022-01-12 17:19:43.000000708,2022-01-12 17:19:43.000005708,2022-01-12 17:19:43.000005708
...,...,...,...,...,...,...,...,...,...,...,...,...
6328,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,32e4849c-a096-4df2-8687-51c184f6a6eb,d4fe2735-d4c4-4974-ad63-01ebefc54ad7,_startup,2022-01-10,2022-01-10 06:38:32,0 days 00:00:00.000000453,0 days 00:00:00.000020184,2022-01-10 06:38:32.000000453,2022-01-10 06:38:32.000020637,2022-01-10 06:38:32.000020637
6329,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,34a87343-4811-4a51-b253-76a606386207,8a1bf198-5422-4857-ae59-e5487bb12796,_startup,2022-01-10,2022-01-10 06:35:03,0 days 00:00:00.000000397,0 days 00:00:00.000019286,2022-01-10 06:35:03.000000397,2022-01-10 06:35:03.000019683,2022-01-10 06:35:03.000019683
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,36f3a85b-79c7-4a6c-8619-04feae63ac7e,5e1d1f1f-98c4-483b-9819-fd9220f14191,_startup,2022-01-10,2022-01-10 04:59:11,0 days 00:00:00.000000621,0 days 00:00:00.000019725,2022-01-10 04:59:11.000000621,2022-01-10 04:59:11.000020346,2022-01-10 04:59:11.000020346
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,a8ef1a56-9844-46fa-8730-d57d5a0db797,44c979de-7a99-4841-ad9f-3eb79d067809,_startup,2022-01-10,2022-01-10 02:19:00,0 days 00:00:00.000000645,0 days 00:00:00.000027628,2022-01-10 02:19:00.000000645,2022-01-10 02:19:00.000028273,2022-01-10 02:19:00.000028273
6332,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03,0 days 00:00:00.000000087,0 days 00:00:00.000005001,2022-01-11 00:39:03.000000087,2022-01-11 00:39:03.000005088,2022-01-11 00:39:03.000005088

In [17]:
date_format_string = "%d/%m/%y %H:%M"
moments['end_time'] = pandas.to_datetime((moments['start_time2'] + moments['duration']), format=date_format_string)
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration,start_time2,end_time,end_time2
0,NaN,D2C915F61FEC1F1FF0EBB5DF4FDD4B68,99fc1b63-383a-437f-8817-010e7231622d,935b2a7d-3106-431b-b60e-443d3f4b1336,_startup,2022-01-12,2022-01-12 19:06:29,0 days 00:00:00.000000286,0 days 00:00:00.000005001,2022-01-12 19:06:29.000000286,2022-01-12 19:06:29.000005287,2022-01-12 19:06:29.000005287
1,NaN,B3486E3835C2C0B327A26A9D3DAC4D81,58359085-1b23-4a85-9612-52c6df95c675,da376eed-a773-4f07-9f25-234c82828e26,_startup,2022-01-12,2022-01-12 18:15:10,0 days 00:00:00.000000983,0 days 00:00:00.000005001,2022-01-12 18:15:10.000000983,2022-01-12 18:15:10.000005984,2022-01-12 18:15:10.000005984
2,NaN,03694986796C42A96C6554E2FABF2A1A,653147c9-b15f-41a0-b8c8-534a5b95dca4,a1968652-675e-4d8f-bb2e-d81b2d149cea,_startup,2022-01-12,2022-01-12 18:10:42,0 days 00:00:00.000000776,0 days 00:00:00.000005001,2022-01-12 18:10:42.000000776,2022-01-12 18:10:42.000005777,2022-01-12 18:10:42.000005777
3,NaN,3DD3244FAC9A0C5237BBD43B391DD498,b93292d2-804d-45f3-bddf-7e7f95a7f735,814e7233-fe59-4c5a-810a-2e8fb589c8fa,_startup,2022-01-12,2022-01-12 18:05:59,0 days 00:00:00.000000383,0 days 00:00:00.000005,2022-01-12 18:05:59.000000383,2022-01-12 18:05:59.000005383,2022-01-12 18:05:59.000005383
4,NaN,5A3839A3E53115002BC07B851C707BEB,30cad6a2-2bfe-46c8-a624-00107e79955c,b50a79f6-01e8-40f4-b24a-195dfd8da384,_startup,2022-01-12,2022-01-12 17:19:43,0 days 00:00:00.000000708,0 days 00:00:00.000005,2022-01-12 17:19:43.000000708,2022-01-12 17:19:43.000005708,2022-01-12 17:19:43.000005708
...,...,...,...,...,...,...,...,...,...,...,...,...
6328,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,32e4849c-a096-4df2-8687-51c184f6a6eb,d4fe2735-d4c4-4974-ad63-01ebefc54ad7,_startup,2022-01-10,2022-01-10 06:38:32,0 days 00:00:00.000000453,0 days 00:00:00.000020184,2022-01-10 06:38:32.000000453,2022-01-10 06:38:32.000020637,2022-01-10 06:38:32.000020637
6329,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,34a87343-4811-4a51-b253-76a606386207,8a1bf198-5422-4857-ae59-e5487bb12796,_startup,2022-01-10,2022-01-10 06:35:03,0 days 00:00:00.000000397,0 days 00:00:00.000019286,2022-01-10 06:35:03.000000397,2022-01-10 06:35:03.000019683,2022-01-10 06:35:03.000019683
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,36f3a85b-79c7-4a6c-8619-04feae63ac7e,5e1d1f1f-98c4-483b-9819-fd9220f14191,_startup,2022-01-10,2022-01-10 04:59:11,0 days 00:00:00.000000621,0 days 00:00:00.000019725,2022-01-10 04:59:11.000000621,2022-01-10 04:59:11.000020346,2022-01-10 04:59:11.000020346
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,a8ef1a56-9844-46fa-8730-d57d5a0db797,44c979de-7a99-4841-ad9f-3eb79d067809,_startup,2022-01-10,2022-01-10 02:19:00,0 days 00:00:00.000000645,0 days 00:00:00.000027628,2022-01-10 02:19:00.000000645,2022-01-10 02:19:00.000028273,2022-01-10 02:19:00.000028273
6332,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03,0 days 00:00:00.000000087,0 days 00:00:00.000005001,2022-01-11 00:39:03.000000087,2022-01-11 00:39:03.000005088,2022-01-11 00:39:03.000005088

In [12]:
moments['end_time2'] = pandas.to_datetime(moments['end_time'], format='%Y-%m-%d')
moments

,user_id,embrace_id,session_id,moment_id,moment_name,date,start_time,raw_offset,duration,start_time2,end_time,end_time2
0,NaN,D2C915F61FEC1F1FF0EBB5DF4FDD4B68,99fc1b63-383a-437f-8817-010e7231622d,935b2a7d-3106-431b-b60e-443d3f4b1336,_startup,2022-01-12,2022-01-12 19:06:29,0 days 00:00:00.000000286,0 days 00:00:00.000005001,2022-01-12 19:06:29.000000286,2022-01-12 19:06:29.000005287,2022-01-12 19:06:29.000005287
1,NaN,B3486E3835C2C0B327A26A9D3DAC4D81,58359085-1b23-4a85-9612-52c6df95c675,da376eed-a773-4f07-9f25-234c82828e26,_startup,2022-01-12,2022-01-12 18:15:10,0 days 00:00:00.000000983,0 days 00:00:00.000005001,2022-01-12 18:15:10.000000983,2022-01-12 18:15:10.000005984,2022-01-12 18:15:10.000005984
2,NaN,03694986796C42A96C6554E2FABF2A1A,653147c9-b15f-41a0-b8c8-534a5b95dca4,a1968652-675e-4d8f-bb2e-d81b2d149cea,_startup,2022-01-12,2022-01-12 18:10:42,0 days 00:00:00.000000776,0 days 00:00:00.000005001,2022-01-12 18:10:42.000000776,2022-01-12 18:10:42.000005777,2022-01-12 18:10:42.000005777
3,NaN,3DD3244FAC9A0C5237BBD43B391DD498,b93292d2-804d-45f3-bddf-7e7f95a7f735,814e7233-fe59-4c5a-810a-2e8fb589c8fa,_startup,2022-01-12,2022-01-12 18:05:59,0 days 00:00:00.000000383,0 days 00:00:00.000005,2022-01-12 18:05:59.000000383,2022-01-12 18:05:59.000005383,2022-01-12 18:05:59.000005383
4,NaN,5A3839A3E53115002BC07B851C707BEB,30cad6a2-2bfe-46c8-a624-00107e79955c,b50a79f6-01e8-40f4-b24a-195dfd8da384,_startup,2022-01-12,2022-01-12 17:19:43,0 days 00:00:00.000000708,0 days 00:00:00.000005,2022-01-12 17:19:43.000000708,2022-01-12 17:19:43.000005708,2022-01-12 17:19:43.000005708
...,...,...,...,...,...,...,...,...,...,...,...,...
6328,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,32e4849c-a096-4df2-8687-51c184f6a6eb,d4fe2735-d4c4-4974-ad63-01ebefc54ad7,_startup,2022-01-10,2022-01-10 06:38:32,0 days 00:00:00.000000453,0 days 00:00:00.000020184,2022-01-10 06:38:32.000000453,2022-01-10 06:38:32.000020637,2022-01-10 06:38:32.000020637
6329,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,34a87343-4811-4a51-b253-76a606386207,8a1bf198-5422-4857-ae59-e5487bb12796,_startup,2022-01-10,2022-01-10 06:35:03,0 days 00:00:00.000000397,0 days 00:00:00.000019286,2022-01-10 06:35:03.000000397,2022-01-10 06:35:03.000019683,2022-01-10 06:35:03.000019683
6330,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,36f3a85b-79c7-4a6c-8619-04feae63ac7e,5e1d1f1f-98c4-483b-9819-fd9220f14191,_startup,2022-01-10,2022-01-10 04:59:11,0 days 00:00:00.000000621,0 days 00:00:00.000019725,2022-01-10 04:59:11.000000621,2022-01-10 04:59:11.000020346,2022-01-10 04:59:11.000020346
6331,YY9CF3GW,10F1406277826B0FD1B31305AB1BFAC6,a8ef1a56-9844-46fa-8730-d57d5a0db797,44c979de-7a99-4841-ad9f-3eb79d067809,_startup,2022-01-10,2022-01-10 02:19:00,0 days 00:00:00.000000645,0 days 00:00:00.000027628,2022-01-10 02:19:00.000000645,2022-01-10 02:19:00.000028273,2022-01-10 02:19:00.000028273
6332,YYCX4795,9CFF9A0718C913CF015D3309372F6902,8fc400dd-3f03-47e4-b875-680386f2e17f,c2a9ae61-7264-4425-a1df-6e8f0bff6b9e,_startup,2022-01-11,2022-01-11 00:39:03,0 days 00:00:00.000000087,0 days 00:00:00.000005001,2022-01-11 00:39:03.000000087,2022-01-11 00:39:03.000005088,2022-01-11 00:39:03.000005088